/*
    - CSC-125 FINAL PROJECT
    - Name: Artem Latypov
    - Date: 5/14/2021
    - Section: CSC-125
    - Title: Final Project
/*
    Created on : Apr 19, 2021, 12:58:17 PM
    Author     : artemlatypov
    CSS external style sheet for CSC-125 project for "anyi's kitchen site'"
*/

/* TO DO:
FIX TRANSITIONS, when transition for sidebar and cart elements is on, it trasitions when scrolled down
FIX sidenav active stays after closed
*/

/*
div.fheader {
    width: 100%; height: 100px;
    position: fixed; z-index: 3; top: 0; left: 0; right: 0;
    background-color: #ccffff;  /* Tempcolor 
    border: 1px solid black;
    text-align: center; padding-bottom: 25px;
    }
*/

body {
    overflow-x: hidden;
    /* Hide content that clips to the side and overflows */
}
    
/* TOP NAVIGATION
/* Top logo and title header above top navigation toolbar */

div.logo {
    background: url(../img/logo_background.jpeg);
    background-origin: content-box;
    /*background-position: center;*/
    background-size: cover;
    position: absolute; z-index: 3;
    left: 0px; top: 0px;
    width: 100%; height: 100px;
    background-color: #ecfcfc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.logo img {
    /*margin-left: 10%;*/
    padding: 3px 0 3px 0;
    height: 100%;
    object-fit: cover;
}
    
/* Initial state of the top navigation toolbar */
.fheader {
    width: 100%;
    position: absolute; z-index: 4; top: 100px; left: 0; /* INITIAL STATE before event "window.onScroll" */
    background-color: #433d4c;
    overflow: hidden;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
}

/* Style the links inside the navigation bar */
.fheader a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 200;
    font-size: 19px;
}

/* Change the color of links on hover */
.fheader a:hover {
    background-color: #a284d5;
    color: black;
}

/* Add a color to the active/current link */
.fheader a.active {
    background-color: #e67cc7;
    color: white;
}

/* Cart button on right side*/
.fheader a#cart {
    float: right;
}

.active {
    background-color: #e67cc7;
    color: white;
}

/* CART SUMMARY MENU */
.cartsummary {
    height: 100%;
    width: 0; /* Initial width */
    position: fixed;
    z-index: 2; /* Overlay behind of top header */
    top: 148px;
    float: right; margin-right: 0px; right: 0;/* Stick to right side of page */
    background-color: white;
    transition: width 0.2s;
    box-shadow:0 0 7px rgba(0,0,0,0.9);
}

.cartheader {
    position: absolute; margin: auto; top: 0; left: 0; right: 0;
    padding: 10px 0px;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

/* Parent container for rows to be added */
.items {
    position: relative; top: 39px;
    height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}


/***** Javascript created items: *****/
/* Class set to new row by script */

.cartrow {
    position: relative;
    width: 100%; height: 20%;
    padding: 5px 10px;
    margin-bottom: 0px;
    background-color: #fdf8f3;
    border-bottom: 1px solid #f9eadb;
    transition: 1s;
}

.cartrow:hover {
    background-color: #f7f1ea;
}

/* JS item content */
.cartitemimg {
    position: relative; float: left; left: 0px; top: auto; bottom: auto;
    width: 20%; height: 100%;
    object-fit: cover;
}

.cartitemtitle {
    position: relative; padding: 5px 5px;
    top: 5px;
    left: 5px;
    font-size: 15px;
}

.cartitemprice {
    position: relative; float: left; padding: 5px 0px;
    top: 5px; left: 5px;
    font-size: 15px;
}

.cartitemquantity {
    position: relative; padding: 6px 10px;
    left: 15px;
} 

input.cartquantity {
    width: 20px;
    /*margin: 5px 0px 0px 0px;*/
}

.hiddenindex {
    display: none;
}

/* Remove button for items */
.removebutton {
    display: none; /* Remove buttons appear before cart sum is opened? */
    position: absolute; float: right;
    right: 20px;
    top: 20px;
    padding: 5px 5px;
    /*margin: 5px 0px 0px 0px;*/
    border: none;
    background-color: #ffafaf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.removebutton:hover {
    text-decoration: underline;
    background-color: #fc7373;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.cartbottomcontainer {
    
}

.carttotal {
    position: absolute; float: bottom;
    left: 10px; right: 5px; bottom: 115px;

}

.checkoutbutton {
    position: absolute; float: bottom;
    margin: auto; left:0; right: 0; bottom: 65px;
    width: 90%;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
    border: none;
    text-align: center;
    background-color: #60bcff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* SIDE NAVIGATION */ 
/* Fixed navigation bar before clicked open */
.navbar {
    width: 45px; height: 100%;
    background-color: #f1f1f1;
    box-shadow:0 0 7px rgba(0,0,0,0.9);
    position: fixed; left: 0px; top: 148px;
    z-index: 1;
    padding-left: 6px; padding-top: 2px;
}
span.navbutton {
    font-size: 40px;
    cursor:pointer;
}
.sidenav {
    height: 100%;
    width: 0; /* Initial width */
    position: fixed;
    z-index: 2; /* Overlay behind of top header */
    top: 128px;
    left: 0;
    background-color:#dcdbf2;
    overflow: hidden;
    transition: width 0.5s;
    padding-top: 15px; /* Distance links are from top of screen */
}

.sidenav a {
    padding: 5px 5px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}

.sidenav .navtitle {
    padding: 5px 5px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: black;
    display: block;
}

button.navtitle {
    width: 100%;
    padding: 5px 5px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #dcdbf2;
    background-color: #dcdbf2;
    color: black;
    display: block;
}

.sidenav .navbutton:hover {
    background-color: #cccccc;
}

button.navtitle:hover {
    background-color:#c4b3f2;
}

.navbutton a:hover {
    background-color:#dcb4e8;
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 36px;
    margin-left: 10px;
}

/* Initial state of sidenav dropdown links*/
.dropdowncontainer {
    display: none;
    position: relative; 
    background-color:#f8d3ff;
}

.dropdowncontainer a {
    margin-left: 8px;
}

/* JS called state of dropdown menu button */
.dropdownactive {
    background-color:#f8a6e4;
    color: white;
}

.dropdowncontainer a:hover {
    background-color:#dcb4e8;
    color: #f1f1f1;
}

.dropdowncontainer .navbutton:hover {
    background-color:#dcb4e8;
    color: #f1f1f1;
}


/*********** SOCIAL MEDIA CONTACT Buttons ***********/
/***** SIDE CONTACT *****/
/* Taken from W3Schools - Al */

div.sidecontactbuttons {
    position: absolute;
    right: 27px;
    width: 30px; top: 140px;
    margin: 10px 5px;
}

.fa {
  padding: 15px 11px 15px 11px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 7px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/**** Other ****/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 30px;} 
  .sidenav a {font-size: 18px;}
}

.hidden {
    display: none;
}

/* Background image */
div.background {
    background: url(../img/background.jpeg) repeat;
    position: absolute; z-index: 0;
    width: 100%;
    background-position: center;
    background-size: auto;
    /*background-repeat: repeat-y;*/
}

/* Primary content block */
div.content {
    width: 80%; margin: auto;
    height: 2500px;
    position: relative; top: 140px; left: 0; right: 0;/* left: 65px; */
    z-index: 1;
    margin-top: 0px; padding: 0px; 
    /*border: 1px solid black;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.2s;
}

/* Main heading at top of content */
div.contenttitle {
    padding: 25px 10px; 
    font-style: italic;
    font-size: 32px;
    border-bottom: 1px solid gray;
}

/* Custom page sizes */
div.content#recipe {
    height: 1000px;
}

div.content#recipe2 {
    height: 1200px;
}

div.content#store {
    height: 1800px;
}

div.content#about {
    height: 800px;
}


/************** BOTTOM BAR ***************/

div.bottombar {
    position: relative; bottom: 0; float: bottom;
    z-index: 6; 
    width: 100%; height: 150px;
    background-color: #433d4c;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
}

div.bottomlinks {
    /*text-align: center;*/
    float: left;
    margin-left: 50px;
    padding: 15px;
}

.bottomlinks a {
    color: #ffffff;
    font-size: 19px;
    padding: 0 20px;
    text-decoration: none;
}

div.bottomlinks::after {
    border-bottom: 1px solid #60586d; 
    width: 100%; height: 1px;
    margin-top: 5px;
    display: block;
    content: ''; background: #60586d;
    bottom: 0; left: 0;
}

p.bottomtext {
    position: absolute; top: 25px; left: 55px;
    margin-left: 15px;
    display: block;
    float: left; 
    font-size: 14px;
    color: #f2f2f2;
}

div.contactbuttons {
    position: relative; margin-right: 7px;
    float: right;
}

div.backtotop {
    background-color: #e67cc7;
    position: relative; left: auto; right: auto;
    margin-left: auto; margin-right: auto;
    text-align: center;
    bottom: 0px; float: bottom;
    padding: 5px 15px;
    width: 100px;
}

.backtotop a {
    font-size: 19px;
    text-decoration: none;
    color: white;
}





/************** HOME CONTENT ***************/

.row {
    padding: 0px 10px;
}

.rowheader {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    color: #262626;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.rowheader::after {
    position: relative;
    margin-right: auto;  margin-left: auto;
    width: 15%;
    height: 1px;
    margin-top: 5px;
    display: block;
    content: '';
    background: #d86b4d;
    bottom: 0;
    left: 0;
}

.column {
    float: left; /* Set cards side by side */
    width: 23%; 
    padding: 1% 1%; /* Padding between card */
    /* 
    1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%
    */
}

.titlecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0; /* Padding inside card */
}

.titlecard:hover {
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.cardimg {
    float:left;
    width: 100%;
    margin-bottom: 0px; /* space below image before text */
    transition: 0.2s;
}

.cardtext {
    padding: 0% 5%; /* title text inside card */
    font-family: serif;
    transition: 0.2s;
}

.cardtext h4 {
    position: relative; top: 5px;
    font-size: 18px;
    padding-bottom: 0px; margin-bottom: 0px;
}

.cardtext p {
    font-size: 15px;
    padding-top: 10px; margin-top: 0px;
    padding-bottom: 5%;
}


.textdivider { /* Make height of text divider container change to fit the height of the image so when resized, the image stays the same */
    position: relative;
    width: auto; /*height: 50vh;*/
    padding: 5px 5px 5px 10px; margin-top: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    height: fit-content;
    display: inline-block;
    object-fit: contain;
    text-overflow: ellipsis; /* ellipsis does not work here */
    overflow: hidden;
}

div.biopic {
    position: relative; float: right; right: 5px;
    height: 100%; max-width: 35%; min-width: 10%;
    object-fit: contain;
}

img.biopic {
    position: relative;
    display: block;
    max-width: 100%; max-height: 100%;
    margin-right: 0px;
}

.biotextcontainer {
    object-fit: contain; height:content-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    display: inline-block;
    padding: 50px 10px 50px 0;
    margin: 0 0;
    line-height: 1.4;
    
}

.biotextcontainer div.textheader {
    text-overflow: ellipsis;
    text-align: center;
}

.biotextcontainer .textheader {
    text-overflow: ellipsis;
    margin: 0 10px 0 10px;
    font-size: 19px;
    height: 1em;
    /*font-size: 2.6vh;*/
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.biotextcontainer p {
    text-overflow: ellipsis;
    margin: 0 10px 0 10px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    /*font-size: 1.9vh;*/
}

.aboutusbuttoncontainer {
    margin-right: auto; margin-left: auto;
    text-align: center;
}

.aboutusbutton { 
    margin: 5px 5px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ffcbe3;
    border-radius: 3px;
    /*box-sizing: border-box;*/
    font-family: Georgia, serif;
    font-size: 14px;
    background-color: #ffcbe3;
    text-align: center;
    transition: all 0.2s;
}

.aboutusbutton:hover {
    color: #000000;
    background-color: #ff91b5;
}




/* 1_STORE PAGE content */

.storerowheader {
    top: 25px;
    text-align: center;
    font-size: 19px;
    padding-top: 15px;
    margin-bottom: 10px;
    color: #262626;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.storerowheader#rowtop {
    top: 5px;
    padding-top: 10px;
}


.storerowheader::after {
    position: relative;
    margin-right: auto;  margin-left: auto;
    width: 15%;
    height: 1px;
    margin-top: 5px;
    display: block;
    content: '';
    background: #d86b4d;
    bottom: 0;
    left: 0;
}

.storerow {
    padding: 10px 10px;
}

.storecolumn {
    float: left; /* Set cards side by side */
    max-width: 23%; 
    padding: 1% 1%; /* Padding between card */
    /* 
    1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%
    */
}

.storetitlecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%; height: 280px;
    display:block;
    padding: 0; /* Padding inside card */
}

.storetitlecard:hover {
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.itemimg {
    float:left;
    width: 100%; height: 170px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0px; /* space below image before text */
}

.storecardtext {
    padding: 0% 5%; /* title text inside card */
    font-family: serif;
    display:block;
}

.storecardtext h4 {
    position: relative; top: 5px;
    font-size: 18px;
    padding-bottom: 0px; margin-bottom: 0px;
    font-style: normal;
}

.itemtitle {
    position: relative; top: 5px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px; margin-bottom: 0px;
    font-style: normal;
    color: #262626;
}

.itemprice {
    font-size: 14px;
    font-family: Georgia, serif;
    padding-top: 0px; margin-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
    color: #3f3f3f;
}

.buybutton {
    position: relative; bottom: 4px; width: 100%;
    float: bottom;
    font-size: 16px;
    padding: 4px;
    border: none;
    text-align: center;
    background-color: #ffcece;
}

/* Fade in and out class made with help from:
https://blog.hubspot.com/website/css-fade-in

JS function "addToCart() changes 'visibility: visible'"
*/

#addcartfadein {
    visibility: hidden;
    position: fixed; z-index: 1;
    left: 50%; bottom: 30px;

    min-width: 250px;
    margin-left: -125px; padding: 16px;
    
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 17px;
    
    opacity: 100%;

    transition: opacity 0.5s;
    -webkit-user-select: none;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s , fadeout 1s 2s;
    animation: fadein 0.5s , fadeout 1s 2s; 
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}



/* 2_ABOUT content */

.abouttextcontainer {
    width: 50%;
    line-height: 1.6;
    
    padding: 0px 10px;
    margin: 0px 10px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 18px;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}



div.aboutbiopic {
    position: relative; float: right; right: 5px;
    height: 100%; max-width: 35%; min-width: 10%;
    object-fit: contain;
}

img.aboutbiopic {
    position: relative;
    display: block;
    max-width: 100%; max-height: 100%;
    margin-right: 0px;
}


/* 3_RECIPE_MAIN CONTENT */

/* Standardize all recipe images to 1:1.3 on title cards, and (9:6) as original */

.reciperow {
    display: block;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.reciperowheader {
    display: block;
    text-align: center;
    font-size: 19px;
    padding: 5px 0 5px 0;
    margin-top: 15px;
    color: #262626;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.reciperowheader::after {
    position: relative;
    margin-right: auto;  margin-left: auto;
    width: 15%;
    height: 1px;
    margin-top: 5px;
    display: block;
    content: '';
    background: #d86b4d;
    bottom: 0;
    left: 0;
}

.recipecolumn {
    display: inline-block;
    float: left; /* Set cards side by side */
    width: 23%; 
    padding: 1% 1% 10px 1%; /* Padding between card */
    /* 
    1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%<----- 23% ----->1%
    */
}

.recipetitlecard {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%; height: 275px;
    padding: 0; /* Padding inside card */
}

.recipetitlecard:hover {
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.recipecardimg {
    float:left;
    width: 100%; height: 170px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0px; /* space below image before text */
}

.recipecardtext {
    padding: 0% 5%; /* title text inside card */
    font-family: serif;
}

.recipecardtext h4 {
    position: relative; top: 5px;
    font-size: 18px;
    padding-bottom: 0px; margin-bottom: 0px;
    font-style: normal;
}

.recipecardtitle {
    position: relative; top: 5px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px; margin-bottom: 0px;
    font-style: normal;
    color: #262626;
}

.recipesubtext {
    font-size: 14px;
    font-family: Georgia, serif;
    padding-top: 5px; margin-top: 0px;
    padding-bottom: 5%;
    font-style: italic;
    color: #3f3f3f;
}

.recipetitlecardhidden {
    display: inline-block;
    width: 100%; height: 275px;
}

/* 4_ARTICLES CONTENT */

.articlecolumn {
    float: left; /* Set cards side by side */
    width: 46%; 
    padding: 1% 1%; /* Padding between card */
    /* 
    3%<----- 46% ----->3%<----- 46% ----->3%
    */
}

.articleblock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%; height: 445px;
    padding: 0; /* Padding inside card */
}

.articleblock:hover {
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.articleblockimg {
    float:left;
    width: 100%; height: 340px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0px; /* space below image before text */
}

.articleblocktext {
    margin-top: 10px;
    padding: 10px 5%; /* text inside card */
    font-family: serif;
    text-align: center;
}

.articleblocktitle {
    position: relative; top: 10px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 12px; margin-bottom: 0px;
    font-style: normal;
    color: #262626;
}

.articleblocksubtext {
    font-size: 14px;
    font-family: Georgia, serif;
    padding-top: 5px; margin-top: 0px;
    padding-bottom: 5%;
    font-style: italic;
    color: #3f3f3f;
}

/* RECIPE PAGES */












/********* REGISTRATION STYLE ***********/

#registration {
    margin-top: 5px;
}

.field {
    margin-top: 5px;
    padding-top: 5px;
}

div#formname {
    width: 500px;
}

label#fnamelabel {
    font-size: 12px; margin-left: 52px;
}

label#lnamelabel {
    font-size: 12px; margin-left: 78px;
}

label#streetnumlabel {
    font-size: 12px; margin-left: 70px;
}
label#streetnamelabel {
    font-size: 12px; margin-left: 43px;
}
label#citylabel {
    font-size: 12px; margin-left: 70px;
}
label#statelabel {
    font-size: 12px; margin-left: 85px;
}
label#zipcodelabel {
    font-size: 12px; margin-left: 83px;
}

input#firstname {
    width: 100px;
}

input#lastname {
    width: 100px;
}

div#gendersection {
    margin-bottom: 5px;
}

input#streetnum {
    width: 50px
}
input#streetname {
    width: 100px
}
input#city {
    width: 100px
}
input#zip {
    width: 75px
}

div#phone {
    margin-top: 5px; margin-bottom: 5px;
}
input#phone1 {
    width: 25px; margin-right: 4px;
}
input#phone2 {
    width: 25px; margin-right: 4px;
}
input#phone3 {
    width: 35px
}


label#emaillabel {
    font-size: 16px;
}

div.emailsection {
    margin-top: 5px; margin-bottom: 5px;
}

input#email {
    width: 120px;
}


.textbox {
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 6px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
}
.textbox:hover {
  box-shadow:0 0 7px rgba(0,0,0,0.9);
}


div#bottomformsection {
    margin-left: 5px; margin-top: 10px;
    display: inline-block;
}

#submitbutton {
    position: relative; top: 5px; 
}
#verifymsg {
    position: relative; left: 8px; top: 5px; display: inline-block;
}

#bypass {
    position: relative; 
    margin-left: 8px; top: 35px;
}

/********* CHECKOUT STYLE ***********/



.checkouttitle {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    padding: 25px 10px;
    font-size: 32px;
    text-align: center;
}

.shoppingcartcolumn {
    position: relative; left: 5px;
    margin-top: 5px;
    float: left;
    height: auto;
    width: 65%;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
}

.checkoutcolumn {
    position: relative; right: 5px;
    margin-top: 5px;
    float: right;
    width: 32%; height: 500px;
    box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.5);
}

/* Shopping cart container */
.shoppingcart {
    width: 100%;
    overflow-x: hidden;
}

.shoppingcartheader {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 19px;
    font-style: italic;
    padding: 15px 10px;
}

.shoppingcartheader::after {
    position: absolute; float: left;
    /*margin-right: auto;  margin-left: auto;*/
    width: 35%;
    height: 1px;
    margin-top: 0px;
    display: block;
    content: '';
    background: #d86b4d;
    top: 40px;
    left: 5px;
}

/**** JS loaded content ****/

/* If there is nothing in cart */
.shoppingcart.emptyrow {
    position: relative; display: block;
    left: 10px; top: 5px;
    width: 100%; height: 20%;
    text-align: center;
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    transition: 1s;
}

.shoppingcartemptytitle {
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    font-size: 16px;
}

.shoppingcartsubtext {
    margin-left: 10px;
    padding: 10px 0 0 10px;
    font-size: 14px;
    font-family: Georgia, serif;
    padding-top: 5px;
    padding-bottom: 5%;
    font-style: italic;
    color: #3f3f3f;
}

/* If there is content in cart */
.shoppingcart.cartrow {
    position: relative; display: inline-block;
    width: 90%; height: 15%;
    padding: 5px 5px;
    margin-bottom: 0px;
    background-color: #fdf8f3;
    border-bottom: 1px solid #f9eadb;
    transition: 1s;
    overflow-y: hidden;
}

.shoppingcart.cartrow:hover {
    background-color: #f7f1ea;
}

.shoppingcart.cartitemimg {
    position: relative; float: left; left: 0px; top: auto; bottom: auto;
    display: inline-block;
    max-width: 20%; height: 100%;
    object-fit: cover;
}

.shoppingcart.cartitemtitle {
    position: relative; padding: 5px 5px;
    top: 5px;
    left: 5px;
    font-size: 15px;
}

.shoppingcart.cartitemprice {
    position: relative; float: left; padding: 5px 0px;
    top: 5px; left: 5px;
    font-size: 15px;
}

.shoppingcart.cartitemquantity {
    position: relative; padding: 6px 10px;
    left: 15px;
} 

.shoppingcart.cartquantity {
    width: 20px;
    /*margin: 5px 0px 0px 0px;*/
}

.shoppingcart.hiddenindex {
    display: none;
}

.shoppingcart.cartitemremove {
    position: relative; right: 20px; top: 20px;
}

/* Remove button for items */
.shoppingcart.removebutton {
    display: block;
    position: relative; float: right;
    right: 20px;
    top: 20px;
    padding: 5px 5px;
    /*margin: 5px 0px 0px 0px;*/
    border: none;
    background-color: #ffafaf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shoppingcart.removebutton:hover {
    text-decoration: underline;
    background-color: #fc7373;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}


/** Check out columns **/
.cartcheckout {
    width: 100%;
}

.cartcheckoutsummary {
    height: 10%;
    border-bottom: 1px solid #f9eadb;
    display: inline-block;
}

.cartcheckoutsummary b{
    position: absolute; top: 5px;
    float: left; left: 5px;
    display: inline-block;
}

#cartcheckoutsummaryitem {
    position: absolute; top: 5px;
    float: right; right: 5px;
    display: inline-block;
}

.cartcheckouttotal {
    position: absolute; top: 35px;
    float: left; left: 5px;
}

.purchasebutton {
    position: absolute; 
    float: bottom; bottom: 5px;
}


/********** RECIPE PAGES STYLE *************/

.recipetextbox {
    padding: 10px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
}

.recipeimage {
    position: relative; right: 5px;
    float: right;
    max-width: 33%;
}